@charset "UTF-8";
/* CSS Document */

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html, body {
    max-width: 100%;
    overflow-x: hidden !important;
}

body {
    margin-top: 2%;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

a:active, a:focus {
    outline: 0;
}

/* Layout 
----------------------------- */

body {
    background: #9fddea url(media/bg-bottom.png) bottom center no-repeat;
}

#container1 {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    height: auto !important;
}

/*Sections
----------------------------*/
#section1 {
    width: 100%;
    height: auto;
    position: relative;
}

#section2 {
    width: 100%;
    height: 100%;
    position: relative;
}

#section3 {
    width: 100%;
    height: auto;
    position: relative;
}

#section4 {
    width: 100%;
    height: auto;
    position: relative;
}

#section5 {
    width: 100%;
    height: auto;
    position: relative;
}

/* Images
------------------------------*/
#as {
    position: relative;
    width: 75%;
    float: right;
}

#lunaplane {
    right: 78px;
    width: 433px;
    height: 358px;
    background: url(media/lunaplane.png) 0 0 no-repeat;
    font-family: 'Handlee', sans-serif;
}

#datelocation {
    position: absolute;
    top: 276px;
    right: 50px;
    z-index: 1;
}

#btn-rsvp:hover {
    background-position: 0 -87px;
}

#btn-trails:hover {
    background-position: 0 -200px;
}

#btn-property:hover {
    background-position: 0 -144px;
}

#btn-honeyfund:hover {
    background-position: 0 -29px;
}

/* Floating Critters
----------------------------------*/

#cupcakes1 {
    position: absolute;
    top: 530px;
    left: 30px;
}

#bunnyballoon {
    position: absolute;
    top: 138px;
    left: 778px;
}

/* Top Links
--------------------------*/
/* Links
-----------------*/
#clouds {
    position: absolute;
    width: 100%;
    height: 575%;
    top: 0;
    left: 0;
    z-index: -2;
    background: url("media/clouds.png");
}

a.top {
    display: block;
    width: 80px;
    height: 39px;
    background: url(media/top.png) 0 0 no-repeat;
    cursor: pointer;
}

a.down:hover, a.down:active, a.top:hover, a.top:active {
    background-position: 0 -38px;
}

.nav {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #babad2; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
}

#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}

#jquery-lightbox a img {
    border: none;
}

#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: auto;
}

#lightbox-container-image {
    padding: 10px;
}

#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.about_us div {
    text-align: justify;
    text-align-last: left;
    margin-left: 5%;
    margin-right: 5%;
}

.about_us h3 {
    border: 40px solid;
    padding: 15px;
    border-image: url("media/bottom-border2.png") 34 35 round;
    background-color: #F6FBFC;
    font-family: 'Handlee', sans-serif;
    font-size: 36px;
}

.about_resort {
    border: 35px solid;
    border-image: url("media/bottom-border2.png") 35 36 round;
    font-family: 'Handlee', sans-serif;
    font-size: 36px;
}

.inside_about {
    background-color: #F6FBFC;
    padding: 10px;
    text-align: justify;
    font-size: 30px;
}

#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav {
    left: 0;
}

#lightbox-nav a {
    outline: none;
}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block;
}

#lightbox-nav-btnPrev {
    left: 0;
    float: left;
}

#lightbox-nav-btnNext {
    right: 0;
    float: right;
}

#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0;
}

#lightbox-container-image-data {
    padding: 0 10px;
    color: #666;
}

#lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left;
}

#lightbox-image-details-caption {
    font-weight: bold;
}

#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1.0em;
}

#lightbox-secNav-btnClose {
    width: 66px;
    float: right;
    padding-bottom: 0.7em;
}